# --- Reglas Globales (Afectan a Back y Front) ---
node_modules/
dist/
dist-ssr/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# --- Reglas Específicas del Backend ---
scs-backend/.env

# --- Archivos de sistema/editor ---
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?